html
    head
        title American Food
        link(rel="stylesheet" href="/stylesheets/bootstrap.css")
        link(rel="stylesheet" href="/stylesheets/jquery-ui.min.css")
        script(src="/scripts/jquery-3.3.1.min.js")
        script(src="/scripts/bootstrap.bundle.js")
        script(src="/scripts/jquery-ui.min.js")
        script(src="/scripts/ajaxTab.js")
    body
        h2 American Food
        p
            | "
            | The cuisine of the United States reflects its history. The European settlement of the Americas yielded the introduction of a number of various ingredients, spices, herbs and cooking styles to the latter. The various styles continued expanding well into the 19th and 20th centuries, proportional to the influx of immigrants from many different nations; such influx developed a rich diversity in food preparation throughout the country.
            | Early Native Americans utilized a number of cooking methods in early American Cuisine that have been blended with early European cooking methods to form the basis of American Cuisine. When the colonists came to the colonies, they farmed animals for clothing and meat in a similar fashion to what they had done in Europe. They had cuisine similar to their previous British cuisine. The American colonial diet varied depending on the settled region in which someone lived. Commonly hunted game included deer, bear, buffalo, and wild turkey. A number of fats and oils made from animals served to cook much of the colonial foods. Prior to the Revolution, New Englanders consumed large quantities of rum and beer, as maritime trade provided them relatively easy access to the goods needed to produce these items: rum was the distilled spirit of choice, as the main ingredient, molasses, was readily available from trade with the West Indies. In comparison to the northern colonies, the southern colonies were quite diverse in their agricultural diet and did not have a central region of culture.
            | During the 18th and 19th centuries, Americans developed many new foods. During the Progressive Era (1890s–1920s) food production and presentation became more industrialized. One characteristic of American cooking is the fusion of multiple ethnic or regional approaches into completely new cooking styles. A wave of celebrity chefs began with Julia Child and Graham Kerr in the 1970s, with many more following after the rise of cable channels such as Food Network.
            | "
