html
    head
        title Chinese Food
    body
        h2 Chinese Food
        p
            | "
            | Chinese cuisine is an important part of Chinese culture, which includes cuisine originating from the diverse regions of China, as well as from Chinese people in other parts of the world. Because of the Chinese diaspora and historical power of the country, Chinese cuisine has influenced many other cuisines in Asia, with modifications made to cater to local palates.
            | The preference for seasoning and cooking techniques of Chinese provinces depend on differences in historical background and ethnic groups. Geographic features including mountains, rivers, forests and deserts also have a strong effect on the local available ingredients, considering climate of China varies from tropical in the south to subarctic in the northeast. Imperial, royal and noble preference also plays a role in the change of Chinese cuisines. Because of imperial expansion and trading, ingredients and cooking techniques from other cultures are integrated into Chinese cuisines over time.
            | The most praised "Four Major Cuisines" are Chuan, Lu, Yue and Huaiyang, representing West, North, South and East China cuisine correspondingly.[2] Modern "Eight Cuisines" of China are Anhui, Cantonese, Fujian, Hunan, Jiangsu, Shandong, Sichuan, and Zhejiang cuisines.[3]
            | Color, smell and taste are the three traditional aspects used to describe Chinese food,[4] as well as the meaning, appearance and nutrition of the food. Cooking should be appraised from ingredients used, cuttings, cooking time and seasoning.
            | It is considered inappropriate to use knives on the dining table. Chopsticks are the main eating utensils for Chinese food, which can be used to cut and pick up food.
            | "
