doctype html
html
	head
		title Dish Master
		link(rel="stylesheet" href="/stylesheets/bootstrap.css")
		link(rel="stylesheet" href="/stylesheets/common.css")
		link(rel="stylesheet" href="/stylesheets/home.css")
		link(rel="stylesheet" href="/stylesheets/jquery-ui.min.css")
		script(src="/library/jquery-3.3.1.min.js")
		script(src="/library/bootstrap.bundle.js")
		script(src="/library/jquery-ui.min.js")
		script(src="/scripts/ajaxTab.js")
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			a#dms-logo.navbar-brand(href="#") DM
			.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href="/home") Home
					li.nav-item
						a.nav-link(href="/addDish") Add Dish
					li.nav-item
						a.nav-link(href="#") Find
					li.nav-item
						a.nav-link(href="#") Bookmark
				form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
					button.btn.btn-outline-info.my-2.my-sm-0(type="submit") Search
		.dms-home-header
			h1.dms-home-header-txt Your Next Meal
		.container
			.row
				aside.dms-left-panel.col-md-3
					.dms-filter-container
						form#dishesFilter
							h3 Find Dishes
							.container
								h5 Type
								ul.dms-filters
									li
										.form-check
											input#typeCh.form-check-input(type="checkbox")
											label.form-check-label(for="typeCh") Chinese
									li
										.form-check
											input#typeUS.form-check-input(type="checkbox")
											label.form-check-label(for="typeUS") American
									li
										.form-check
											input#typeMex.form-check-input(type="checkbox")
											label.form-check-label(for="typeMex") Mexican
								h5 Price
								ul.dms-filters
									li
										.form-check
											input#priceAll.form-check-input(type="radio" name="priceFilter")
											label.form-check-label(for="priceAll") All
									li
										.form-check
											input#price0_5.form-check-input(type="radio" name="priceFilter")
											label.form-check-label(for="price0_5") 0 ~ 5 USD
									li
										.form-check
											input#price5_10.form-check-input(type="radio" name="priceFilter")
											label.form-check-label(for="price5_10") 5 ~ 10 USD
									li
										.form-check
											input#price10_20.form-check-input(type="radio" name="priceFilter")
											label.form-check-label(for="price10_20") 10 ~ 20 USD
								button.btn.btn-info(type="button") Search
				.dms-main-content.col-md-9
					#dms-main-tabs
						ul
							li
								a(href="/dishes/all") All
							li
								a(href="/dishes/recommended") Recommended by Editors
							li
								a(href="/dishes/bookmarked") Bookmarked

		
		.dms-footer.footer
			.container
				p Footer
