doctype html
html
	head
		title Dish Master
		link(rel="stylesheet" href="/stylesheets/bootstrap.css")
		link(rel="stylesheet" href="/stylesheets/common.css")
		link(rel="stylesheet" href="/stylesheets/signup-login.css")
		link(rel="stylesheet" href="/stylesheets/home.css")
		script(src="/scripts/jquery-3.3.1.min.js")
		script(src="/scripts/bootstrap.bundle.js")
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='#') DishMaster
			form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
					button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

		.dms-home-header
				h1.dms-home-header-txt Your Next Meal
			
		.container
			.row
				.dms-left-panel.col-4
					.dms-filter-container
						ul.dms-filters
							li Filter
							li Filter
							li Filter
							li Filter
							li Filter
							li Filter
							li Filter
				.dms-main-content.col-8
					article Article
		.dms-footer.footer
				p Footer



