<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/signup-login.css"/>
    <link rel="stylesheet" href="/stylesheets/forms.css"/>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/forms.js"></script>
    <script src="/scripts/ajaxHandler.js"></script>
  </head>
  <body>
    <div class="bg-holder">
      <div class="form">
        <ul class="tab-group">
          <li class="tab"><a href="signup">Sign Up</a></li>
          <li class="tab active"><a href="login">Log In</a></li>
        </ul>
        <div class="tab-content">
          <div id="signup">
            <h1>Welcome Back!</h1>
            <form action="/search" method="post">
              <div class="field-wrap">
                <label>Email Address<span class="req">*</span></label>
                <input id="email" type="email" required="" autocomplete="off"/>
              </div>
              <div class="field-wrap">
                <label>Password<span class="req">*</span></label>
                <input id="password" type="password" required="" autocomplete="off"/>
              </div>
              <p class="forgot"><a href="#">Forgot Password?</a></p>
              <button id="login-btn" class="button button-block">Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>