html
    head
        title Mexican Food
        link(rel="stylesheet" href="/stylesheets/bootstrap.css")
        link(rel="stylesheet" href="/stylesheets/jquery-ui.min.css")
        script(src="/scripts/jquery-3.3.1.min.js")
        script(src="/scripts/bootstrap.bundle.js")
        script(src="/scripts/jquery-ui.min.js")
        script(src="/scripts/ajaxTab.js")
    body
        h2 Mexican Food
        p
            | "
            | Mexican cuisine began 9,000 years ago, 7,000 BCE, when agricultural communities such as the Maya formed, domesticating maize, creating the standard process of corn nixtamalization, and establishing their foodways. Successive waves of other Mesoamerican groups, including the Olmec, Teotihuacanos, Toltec, Huastec, Zapotec, Mixtec, Otomi, and Purépecha, brought with them their own cooking methods.
            | The Mexica establishment of the Aztec Empire created a multi-ethnic society where many different foodways became infused. The staples are native foods, such as corn, beans, squash, amaranth, chia, avocados, tomatoes, tomatillos, chocolate, vanilla, beetroot, agave, turkey, sweet potato, cactus, and chili pepper.
            | After the Spanish conquest of the Aztec Empire in the 16th century, Europeans introduced a number of other foods, the most important of which were meats from domesticated animals (beef, pork, chicken, goat, and sheep), dairy products (especially cheese), and rice. While the Spanish initially tried to impose their own diet on the country, this was not possible.
            | African and Asian influences were also introduced into the indigenous cuisine during this era as a result of African slavery in New Spain and the Manila-Acapulco Galleons.[2]
            | Over the centuries, this resulted in regional cuisines based on local conditions, such as those in Oaxaca, Veracruz and the Yucatán Peninsula. Mexican cuisine is an important aspect of the culture, social structure and popular traditions of Mexico. The most important example of this connection is the use of mole for special occasions and holidays, particularly in the South and Center regions of the country. For this reason and others, traditional Mexican cuisine was inscribed in 2010 on the Representative List of the Intangible Cultural Heritage of Humanity by UNESCO.[3]
            | "
