html
    head
        title
        link(rel="stylesheet" href="/stylesheets/common.css")
        link(rel="stylesheet" href="/stylesheets/signup-login.css")
        script(src="/scripts/jquery-3.3.1.min.js")
        script(src="/scripts/forms.js")
        script(src="/scripts/ajaxHandler.js")
    body
        .bg-holder
            .tab-content
                #search
                    h1 Please specify your search.
