html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/signup.css')
    script(src="/scripts/jquery-3.3.1.min.js")
    script(src="/scripts/signup.js")
  body
    .bg-holder
      .form
        ul.tab-group
          li.tab.active
            a(href="signup") Sign Up
          li.tab
            a(href="login") Log In
        .tab-content
          #signup
            h1 Join Dish Master Now!
            form(action="/" method="post")
              .top-row
                .field-wrap
                  label
                    | First Name
                    span.req *
                  input(type="text" required="" autocomplete="off")
                .field-wrap
                  label
                    | Last Name
                    span.req *
                  input(type="text" required="" autocomplete="off")
              .field-wrap
                label
                  | Email Address
                  span.req *
                input(type="email" required="" autocomplete="off")
              .field-wrap
                label
                  | Password
                  span.req *
                input(type="password" required="" autocomplete="off")
              button.button.button-block(type="submit") Get Started
