.dms-tag
{
	display: inline-block;
	padding: 10px;
	cursor: move;
}
.dms-tag > span
{
	background-color: #cc0000;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
#selectedTags
{
	width: 50%;
	height: 200px;
	min-height: 100px;
	min-width: 100px;
	overflow: auto;
}

.tags-container span
{
	padding: 10px;
}

#newDishForm
{
	margin-top: 20px;
}
#newDishForm .form-check-label
{
	width: 180px;
}

#confirmDishDetails
{
	margin-left: 20px;
}