.dms-tag
{
	display: inline-block;
	padding: 10px;
	cursor: move;
}
#selectedTags
{
	width: 50%;
	height: 200px;
}

.tags-container span
{
	padding: 10px;
}

#newDishForm
{
	margin-top: 20px;
}
#newDishForm .form-check-label
{
	width: 180px;
}