*, *:before, *:after {
  box-sizing: border-box;
}
@font-face {
    font-family: Allura;
    src: url("/fonts/Allura-Regular.woff") format("woff");
}

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: 'Roboto', arial, helvetica, sans-serif;
}

.text-white
{
	color: #ffffff;
}